body {
    font-family: "Hiragino Kaku Gothic ProN";
    }
section {
    margin: 100px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 700px;
}
table th {
    width: 100px;
    font-size: 18px;
    font-weight: 400;
}
table td {
    width: 100px;
    height: 80px;
    border: solid 1px #333;
    font-size: 23px;
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: 600;
}
.month {
    width: 100px;
    float: left;
    text-align: center;
    margin-right: 10px;
}
.mon_en {
    font-size: 15px;
    font-weight: 600;
}
.circle {
    color: #fff;
    background-color: #333;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 800;
    line-height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.year {
    color: #e71f19;
    font-size: 20px;
    font-weight: 600;
}
.rokuyou {
    display:inline;
    vertical-align: text-top;
    color: #333;
    font-size: 10px;
    font-weight: 100;
    margin-left: 5px;
}
.rokuyou-two {
    vertical-align: text-top;
    color: #333;
    font-size: 10px;
    font-weight: 100;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.floatleft {
    float: left;
}
.red {
    color: #e71f19;
}
.half-top {
    font-size: 18px;
    vertical-align: top;
}
.half-bottom {
    font-size: 18px;
    padding-left: 15px;
    padding-top: -10px;
    float: left;
}